/* rem é a unidade de medida relativa do css que dá dá acesso à acessibilidade. por padrão, 1rem =16px.
Para facilitar, colocamos font-size: 62.5%; para que o padrão mude para 10px e facilite as conversões de medidas.
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap');
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Epilogue', sans-serif;
}

body {
  font-size: 1.6rem;
  background: #ECE9FD;
  padding: 6rem 2.3rem 6.6rem;
}

main {
  max-width: 33rem;
  margin: 0 auto;
}

main p:first-child {
  color: #7158EF;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 3.2rem;
  margin-bottom: 1.7rem;
}

h1 {
  color: #090039;
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
  margin-bottom: 1.5rem;
}

h1 + p {
  color: rgba(10, 0, 57, 0.64);
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

a {
  color: #090039;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-decoration: none;
}

a:hover {
  color: #7158EF;
}

ul {
  margin-top: 7.2rem;
  list-style: none;
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;
  letter-spacing: -2px;
  min-width: 4.5rem;
  color: #090039;
}

ul li {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #090039;
  max-width: 25.7rem;
  display: flex;
  gap: 3.8rem;
}

ul li + li {
  margin-top: 3.2rem;
}

/* media queries */
@media (min-width: 700px) {
  body {
    padding: 8rem;
  }
  
  main {
    display: flex;
    gap: 10rem;
    max-width: 1020px;
  }

  main > div {
    max-width: 485px;
  }

  ul li {
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }
}